<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatgpt_demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:label="chatgpt_demo"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Your existing activity configuration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Your existing intent-filter configuration -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Flutter theme meta-data -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>

        <!-- Flutter meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Google Sign-In configuration -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />

        <!-- Your OAuth 2.0 Client ID for Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.signin.clientid"
            android:value="1053053878334-m180gaol0ifiqmau3iukp8l7n620la4o.apps.googleusercontent.com"/>
    </application>
</manifest>
